<h1 class='text-center mb-3'>New Food</h1>

<div class='mb-4'>
  <%= form_with(model: @food, url: foods_path) do |f| %>

    <div class="row form ml-4">
      <div class= "form-group d-flex mb-4" >
        <%= f.label "Name:", class: "col-sm-2 col-form-label text-end mx-4" %> 
        <br>
        <div class = "col-sm-7" > 
        <%= f.text_field :name,   class:"form-control", placeholder: "Enter food name", autofocus: true %>
        </div>
      </div>

      <div class= "form-group d-flex" >
        <%= f.label "Measurement Unit:", class: "col-sm-2 col-form-label text-end mx-4" %> 
        <br>
        <div class = "col-sm-7" >
        <%= f.text_field :measurement_unit, class:"form-control", placeholder: "Enter measurement unit (e.g: kg, l, unit)", autofocus: true %>
        </div>
      </div>

      <div class= "form-group d-flex my-4" >
        <%= f.label "Price:", class: "col-sm-2 col-form-label text-end mx-4" %> 
        <br>
        <div class = "col-sm-2" >
        <%= f.number_field :price,   class:"form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group d-flex">
        <div class="col-sm-2 mx-4">
          <%= f.submit class: "btn btn-primary submit-btn mt-4 ms-5 text-center" %>
        </div>
      </div>

    </div>
  <% end %>
</div>