<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <%= link_to 'Recipe App', root_path, class: 'navbar-brand' %>
  
  <div class="w-full d-flex justify-content-between px-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
          <li><%= link_to 'Recipes', recipes_path, class: 'nav-link' %></li>
          <li><%= link_to 'New Recipe', new_recipe_path, class: 'nav-link' %></li>
          <%# <li><%= link_to 'Profile', user_path(current_user), class: 'nav-link' %></li> %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <%else%>
          <li><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %></li>
          <li><%= link_to 'Login', new_user_session_path, class: 'nav-link' %></li>
      <%end%>    
   </ul>
  </div>
</nav>

